.LineItem {
    width: 100%;
    display: grid;
    grid-template-columns: 3vw 15.35vw 5.75vw 5.25vw;
    padding: 1vmin 0;
    color: var(--text-light);
    background-color: var(--white);
    border-top: .1vmin solid var(--tan-3);
    font-size: 1.5vw;
  }
  
  .LineItem:last-child {
    border-bottom: .1vmin solid var(--tan-3);
  }
  
  .LineItem .qty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3vw;
  }
  
  .LineItem .ext-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3vw;
  }
  
  .LineItem button {
    margin: 0;
  }
  
  .align-ctr {
    text-align: center;
  }
  
  .align-rt {
    text-align: right;
  }
  
  .smaller {
    font-size: smaller;
  }
  
  .flex-ctr-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flex-col {
    flex-direction: column;
  }
  
  .flex-j-end {
    justify-content: flex-end;
  }
  
  .scroll-y {
    overflow-y: scroll;
  }
  
  .section-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--tan-1);
    color: var(--text-dark);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    padding: .6vmin;
    text-align: center;
    font-size: 2vmin;
  }
  
  .form-container {
    padding: 3vmin;
    background-color: var(--tan-1);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
  }
  
  p.error-message {
    color: var(--orange);
    text-align: center;
  }
  
  form {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.25vmin;
    color: var(--text-light);
  }
  
  label {
    font-size: 2vmin;
    display: flex;
    align-items: center;
  }
  
  input {
    padding: 1vmin;
    font-size: 2vmin;
    border: .1vmin solid var(--tan-3);
    border-radius: .5vmin;
    color: var(--text-dark);
    background-image: none !important; /* prevent lastpass */
    outline: none;
  }
  
  input:focus {
    border-color: var(--orange);
  }
  
  button, a.button {
    margin: 1vmin;
    padding: 1vmin;
    color: var(--white);
    background-color: var(--orange);
    font-size: 2vmin;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: .1vmin solid var(--tan-2);
    border-radius: .5vmin;
    outline: none;
    cursor: pointer;
  }
  
  button.btn-sm {
    font-size: 1.5vmin;
    padding: .6vmin .8vmin;
  }
  
  button.btn-xs {
    font-size: 1vmin;
    padding: .4vmin .5vmin;
  }
  
  button:disabled, form:invalid button[type="submit"] {
    cursor: not-allowed;
    background-color: var(--tan-4);
  }
  
  button[type="submit"] {
    grid-column: span 2;
    margin: 1vmin 0 0;
  }