.counter {
    display: flex;
    justify-content: space-between;
    min-width: 169px;
    height: 44px;
    border-radius: 12px;
    border: 1px solid black;
    align-items: center;
    padding: 0 5px;
}

.counter--minus:hover, 
.counter--plus:hover{
    cursor: pointer;
}