.foodCategory{
    border: 3px solid #FBBE21;
    border-radius: 10px;
}
.foodCategory:hover{
    background-color: #f8cb58;
    cursor:pointer;
}
.foodCategory[disabled]{
    background-color:white;
}
.categoryName{
    font-weight: bold;
}
.entree:hover, .appetizer:hover{
    fill: none;
}

.foodCategory.toggled{
    background-color: #FBBE21;
}

@media only screen and (min-width:812px) {
    .foodCategory{
        width: 150px;
        height: 100px;
        padding-top: 30px;
    } 
    
}

@media screen and (max-width: 812px) {
    .foodCategory{
        width: 100px;
        height: 80px;
        padding-top: 20px;
    } 
}