.home{    
    margin-top: 2vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.topImage{
    height: 100vw;
    width: 100%;
    margin-top: 1vw;
    margin-bottom: 20px;
}
.filterbar{
    display: flex;
    width:100%;    
    justify-content: center;    
    margin-bottom: 30px;
}
.categoryButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    text-align: center;
}
.titleNameTag {
    width: 95%; 
    text-align: center; 
    border-bottom: 1px solid #808080; 
    line-height: 0.1em;
    margin: clamp(10px, 2vw, 2vw);
    
 } 
 
 .titleNameTag .titleName { 
     background:#fff; 
     padding:0 10px; 
 }
.menuButton{
    margin:2vw;
    height:3vw;
    width:10vw;
}
.deals > ul{
    list-style-type: none;
}
.deals > h1{
    font-size: 3vw;
}
.initialPrice{
    text-decoration: line-through;
}
.eachMenu{
    left:0;
    padding-right: 5vw; 
}
.menuItem{
    display:flex;
    margin: 2vw;
    width: 100%;
    justify-content: space-between;
    align-items: center;       
}
.mealImage{
    height: 10vw;
    width: 10vw;
    float: left;
    left: 0;
}
.mealName{
    float: middle;
    width: 50vw;
    font-size: 2vw;
}
.price{
    font-size: 2vw;
    float: right;
    width: 7vw;
    margin-right: 8vw;
}
.dealAtHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    /* text-align: center; */
}
@media only screen and (min-width:812px) {
    .descriptionLink {
        display: none !important;
    }

    .menu-item-card__item__desc {
        display: block !important;
    }
    .titleNameTag{
        margin-top: 6vh;
        margin-bottom: 6vh;
    }
    
}

@media screen and (max-width: 812px) {
    .menu-item-card {
        height: 40px;
    }

    div.descriptionLink {
        display: inline-block !important;
    }

    div.menu-item-card__item__desc--text {
        display: none !important;
    }
    .titleNameTag{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}