
body {
    margin: 0;    
    color: black;
    background-color:white;
       
  }
.home{
    padding-top: 5vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vw;
}
.menuButton{
    margin:2vw;
    height:3vw;
    width:10vw;
}
.deals > ul{
    list-style-type: none;
}
.deals > h1{
    font-size: 3vw;
}
.initialPrice{
    text-decoration: line-through;
}
.eachMenu{
    left:0;
    padding-right: 5vw; 
}
.menuItem{
    display:flex;
    margin: 2vw;
    width: 100%;
    justify-content: space-between;
    align-items: center;       
}
.mealImage{
    height: 10vw;
    width: 10vw;
    float: left;
    left: 0;
}
.mealName{
    float: middle;
    width: 50vw;
    font-size: 2vw;
}
.price{
    font-size: 2vw;
    float: right;
    width: 7vw;
    margin-right: 8vw;
}