.delete-acc-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vw;
    margin: 25vmin;
}

.delete-acc-btn {
    background-color: #fbbe21;
    border: none;
    width: 30vmin;
    height: 10vmin;
    color: black;
    border-radius: 1vw;
    font-size: 30px;
}