
.signin-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin {
   
    margin-top: 25vmin;
    background-color: #fbbe21;
    width: 30vmin;
    height: 10vmin;
    color: black;
    border-radius: 5%;
    font-size: larger;
}

button:hover{
    background-color: #C67C4E;
}
.loginButton{
    
    background-color: #fbbe21;
    width: 30vmin;
    height: 10vmin;
    color: black;
    border-radius: 5%;
    font-size: larger;
}
