
.signin-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vw;
}

.signin {   
    margin-top: 25vmin;
    background-color: #fbbe21;
    border: none;
    color: black;
    font-size: 30px;
}

button:hover{
    background-color: #C67C4E;
}
.loginButton{    
    background-color: #fbbe21;
    border: none;
    width: 30vmin;
    height: 10vmin;
    color: black;
    border-radius: 1vw;
    font-size: 30px;
}
@media only screen and (min-width:812px){
    .signin, .loginButton{   
        width: 300px;
        height: 60px;
        border-radius: 10px;
    }   

}
@media screen and (max-width: 812px){
    .signin, .loginButton{   
        width: 300px;
        height: 60px;
        border-radius: 10px;
    }
    
}
