footer{
    position: fixed;
    bottom: 0;
    background:
linear-gradient(63deg, #999 23%, transparent 23%) 7px 0,
linear-gradient(63deg, transparent 74%, #999 78%),
linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%),
#38D0F2;
background-size: 16px 48px;
    height: 5vw;
    width: 100%;
    /* text-align: center;    */
}
.bi{
    font-size: 5vw;
    color: black;
}

.bi-house-door-fill{
    float: left;
    height: 10vmin;
    width: 10vmin;
    margin-bottom: 1vmin;
    margin-left: 1vmin;
    
}
.bi-suit-heart-fill{
    float: center;
    height: 10vmin;
    width: 10vmin;
    margin-bottom: 1vmin;
}

.bi-gear-fill{
    float: right;
    height: 10vmin;
    width: 10vmin;
    padding-top: 0.5vmin;
    margin-right: 1vmin;
    margin-bottom: 1vmin;
}

svg:hover {
    fill: #7ABF49;
}