@import url('https://fonts.cdnfonts.com/css/open-dyslexic');

body {
  margin: 0;  
  color: black;
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 10px; 
  padding: 0 10px;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: Helvetica, Arial, sans-serif;;
}

.font-dyslexic {
  font-family: 'Open-Dyslexic', sans-serif;
}

.d-flex{
  display: flex;
}

.flex-ctr{
  justify-content: center;
}