.topImage {
    width: 100%;
    height: 40vmin;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: lightgrey;
}

.item-details__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    position: relative;

}

.item-details__container__upper {
    text-align: left;
}

.item-details__container__upper--name {
    color: #000;
    text-align: center;
    font-size: 20px !important;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.5px;
    margin-bottom: 11px;
    padding-bottom: 11px;
}

.item-details__container__upper--description--header {
    color: #2F2D2C;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 11px;
    margin-left: 0;
    padding-top: 11px;
}

.item-details__container__upper--description--text {
    color: #000001;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 164%;
    /* 22.96px */
    text-align: left;
    margin-left: 5vmin;
    margin-right: 5vmin;
    padding-top: 11px;
    margin-bottom: 11px;

}

.item-details__container__upper--order-details {
    display: flex;
    flex-direction: column;
    padding-top: 11px;
}

.item-details__container__upper--order-details--subtotal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 11px;
}

.item-details__container__upper--order-details--subtotal--price {
    color: #000;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 83.333% */
    letter-spacing: -0.5px;

}

.item-details__container__upper--order-details--notes {
    display: flex;
    margin-top: 22px;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.item-details__container__upper--order-details--notes input {
    min-width: 263px;
    max-height: 60px;
    min-height: 30px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #313131;
    color: #fff;
    padding: 10px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item-details__container__upper--order-details--notes input::selection {
    color: #e8e2e2;
    background-color: slategray;
}

button {
    background-color: #FBBE21;
    font-size: xx-large;
    border-radius: 15px;
    padding: 10px;

}

.add-cart-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customization {
    display: flex;
}

.customize-order {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.checkbox-area {
    border-radius: 50%;
    background-color: #edf0ef;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-area {
    color: #2F2D2C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

@media screen and (max-width: 812px) {
    .item-details__container {
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .item-details__container__upper--description--header {
        text-align: left;
        padding-left: 5vmin;
    }

    .item-details__container__upper--name {

        text-align: left;
        padding-left: 5vmin;

    }
}


.item-details__fav-icon {
    position: absolute;
    z-index: 10;
    top: -0;
    right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-image: url('data:image/svg+xml;utf,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2244%22%20height%3D%2244%22%20viewBox%3D%220%200%2044%2044%22%20fill%3D%22none%22%3E%0A%3Ccircle%20cx%3D%2222%22%20cy%3D%2222%22%20r%3D%2220.6%22%20fill%3D%22%23EDF0EF%22%20stroke%3D%22white%22%20stroke-width%3D%222.8%22%2F%3E%0A%3Cpath%20d%3D%22M30.2698%2016.172C29.792%2015.6939%2029.2246%2015.3147%2028.6002%2015.056C27.9758%2014.7972%2027.3065%2014.6641%2026.6306%2014.6641C25.9547%2014.6641%2025.2854%2014.7972%2024.661%2015.056C24.0365%2015.3147%2023.4692%2015.6939%2022.9914%2016.172L21.9997%2017.1636L21.008%2016.172C20.0428%2015.2068%2018.7338%2014.6646%2017.3688%2014.6646C16.0038%2014.6646%2014.6948%2015.2068%2013.7296%2016.172C12.7644%2017.1372%2012.2222%2018.4462%2012.2222%2019.8112C12.2222%2021.1762%2012.7644%2022.4852%2013.7296%2023.4504L14.7212%2024.4421L21.9997%2031.7205L29.2781%2024.4421L30.2698%2023.4504C30.7479%2022.9726%2031.1271%2022.4053%2031.3858%2021.7808C31.6446%2021.1564%2031.7777%2020.4871%2031.7777%2019.8112C31.7777%2019.1353%2031.6446%2018.466%2031.3858%2017.8416C31.1271%2017.2171%2030.7479%2016.6498%2030.2698%2016.172Z%22%20fill%3D%22white%22%20stroke%3D%22black%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: contain;
}

.item-details__fav-icon:hover {
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2244%22%20height%3D%2244%22%20viewBox%3D%220%200%2044%2044%22%20fill%3D%22none%22%3E%0A%3Ccircle%20cx%3D%2222%22%20cy%3D%2222%22%20r%3D%2220.6%22%20fill%3D%22%23FBBE21%22%20stroke%3D%22white%22%20stroke-width%3D%222.8%22%2F%3E%0A%3Cpath%20d%3D%22M30.2698%2016.172C29.792%2015.6939%2029.2246%2015.3147%2028.6002%2015.056C27.9758%2014.7972%2027.3065%2014.6641%2026.6306%2014.6641C25.9547%2014.6641%2025.2854%2014.7972%2024.661%2015.056C24.0365%2015.3147%2023.4692%2015.6939%2022.9914%2016.172L21.9997%2017.1636L21.008%2016.172C20.0428%2015.2068%2018.7338%2014.6646%2017.3688%2014.6646C16.0038%2014.6646%2014.6948%2015.2068%2013.7296%2016.172C12.7644%2017.1372%2012.2222%2018.4462%2012.2222%2019.8112C12.2222%2021.1762%2012.7644%2022.4852%2013.7296%2023.4504L14.7212%2024.4421L21.9997%2031.7205L29.2781%2024.4421L30.2698%2023.4504C30.7479%2022.9726%2031.1271%2022.4053%2031.3858%2021.7808C31.6446%2021.1564%2031.7777%2020.4871%2031.7777%2019.8112C31.7777%2019.1353%2031.6446%2018.466%2031.3858%2017.8416C31.1271%2017.2171%2030.7479%2016.6498%2030.2698%2016.172Z%22%20fill%3D%22white%22%20stroke%3D%22black%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E');
}

.item-details__fav-icon.toggled:focus,
.item-details__fav-icon:focus {
    outline: 1px solid #b96c3c;
}

.item-details__fav-icon.toggled {
    background-image: url('data:image/svg+xml;utf, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2244%22%20height%3D%2244%22%20viewBox%3D%220%200%2044%2044%22%20fill%3D%22none%22%3E%0A%3Ccircle%20cx%3D%2222%22%20cy%3D%2222%22%20r%3D%2220.6%22%20fill%3D%22%23EDF0EF%22%20stroke%3D%22white%22%20stroke-width%3D%222.8%22%2F%3E%0A%3Cpath%20d%3D%22M30.2698%2016.172C29.792%2015.6939%2029.2246%2015.3147%2028.6002%2015.056C27.9758%2014.7972%2027.3065%2014.6641%2026.6306%2014.6641C25.9547%2014.6641%2025.2854%2014.7972%2024.661%2015.056C24.0365%2015.3147%2023.4692%2015.6939%2022.9914%2016.172L21.9997%2017.1636L21.008%2016.172C20.0428%2015.2068%2018.7338%2014.6646%2017.3688%2014.6646C16.0038%2014.6646%2014.6948%2015.2068%2013.7296%2016.172C12.7644%2017.1372%2012.2222%2018.4462%2012.2222%2019.8112C12.2222%2021.1762%2012.7644%2022.4852%2013.7296%2023.4504L14.7212%2024.4421L21.9997%2031.7205L29.2781%2024.4421L30.2698%2023.4504C30.7479%2022.9726%2031.1271%2022.4053%2031.3858%2021.7808C31.6446%2021.1564%2031.7777%2020.4871%2031.7777%2019.8112C31.7777%2019.1353%2031.6446%2018.466%2031.3858%2017.8416C31.1271%2017.2171%2030.7479%2016.6498%2030.2698%2016.172Z%22%20fill%3D%22%23FBBE21%22%20stroke%3D%22%23FBBE21%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E');

}

.item-details__fav-icon.toggled:hover {
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2244%22%20height%3D%2244%22%20viewBox%3D%220%200%2044%2044%22%20fill%3D%22none%22%3E%0A%3Ccircle%20cx%3D%2222%22%20cy%3D%2222%22%20r%3D%2220.6%22%20fill%3D%22%23b96c3c%22%20stroke%3D%22white%22%20stroke-width%3D%222.8%22%2F%3E%0A%3Cpath%20d%3D%22M30.2698%2016.172C29.792%2015.6939%2029.2246%2015.3147%2028.6002%2015.056C27.9758%2014.7972%2027.3065%2014.6641%2026.6306%2014.6641C25.9547%2014.6641%2025.2854%2014.7972%2024.661%2015.056C24.0365%2015.3147%2023.4692%2015.6939%2022.9914%2016.172L21.9997%2017.1636L21.008%2016.172C20.0428%2015.2068%2018.7338%2014.6646%2017.3688%2014.6646C16.0038%2014.6646%2014.6948%2015.2068%2013.7296%2016.172C12.7644%2017.1372%2012.2222%2018.4462%2012.2222%2019.8112C12.2222%2021.1762%2012.7644%2022.4852%2013.7296%2023.4504L14.7212%2024.4421L21.9997%2031.7205L29.2781%2024.4421L30.2698%2023.4504C30.7479%2022.9726%2031.1271%2022.4053%2031.3858%2021.7808C31.6446%2021.1564%2031.7777%2020.4871%2031.7777%2019.8112C31.7777%2019.1353%2031.6446%2018.466%2031.3858%2017.8416C31.1271%2017.2171%2030.7479%2016.6498%2030.2698%2016.172Z%22%20fill%3D%22%23FBBE21%22%20stroke%3D%22%23FBBE21%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fsvg%3E');

}